<div class="alerts-wrapper">
  <div id="success-notification">
    <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.4948 0.161621L7.5 12.1564L2.50521 7.16162L0.828125 8.83871L6.66146 14.672L7.5 15.4741L8.33854 14.672L21.1719 1.8387L19.4948 0.161621Z" fill="#FFFCF8"/>
    </svg>      
    <span class="message">Ваш запит успішно надісланний</span>
  </div>
  <div id="error-notification">
    <span class="message">Виникла помилка. Зателефонуйте нам і повідомте про вашу заявку</span>
  </div>
</div>