<div class="line"> </div>
  <div class="container"> 
  <h4>Чому варто з нами співпрацювати</h4>
  <p class="advantage">Наші переваги</p>
  <div class="box-cooperation">
    <div class="col">
    <div class="quality">
      <div class="appellation"> 
      <span><img class="star" src="./img/star.svg"/></span>
      <h5 class="text-quality">Якість</h5>
    </div>
      <p class="line-one">кваліфіковані робітники</p>
      <p class="line-one">найкращі матеріали</p>
      <p class="line-one">гарантія від 2-х років</p>

    </div>
    <div class="cost">
      <div class="appellation"> 
      <span><img class="photo-cost" src="./img/cost.svg"/></span>
      <h5 class="text-cost">Вартість</h5>
    </div>
      <p class="line-one">безкоштовний виїзд на об'єкт</p>
      <p class="line-one">поетапна оплата</p>
      <p class="line-one">до вартості входить індивідуальний прорахунок кошторису</p>

    </div>
  </div>
  <div class="col">
    <div class="speed">
      <div class="appellation"> 
      <span><img class="photo-speed" src="./img/speed.svg"/></span>
      <h5 class="text-speed">Швидкість</h5>
    </div>
      <p class="line-one">оперативна поставка</p>
      <p class="line-one">вчасна робота</p>
  </div>
  </div>
  </div>
</div>