<div class="line"></div>
<div class="description">
  <div class="row">
    <div class="col">
    <p class="content">Більше 10 років спеціалізуємося на комплексному ремонті квартир під ключ</p>
    </div>
    <div class="col">
      <img class="lamp" data-size="auto"
      srcset="
        ./img/lamp-mobile.jpg 300w,
        ./img/lamp.jpg 600w
      "
      sizes="
        (max-width: 930px) 100px,
        (min-width: 931px) 300px
      "
      /> 
    </div>
  </div>
  <div class="line"> </div>
  <div class="row">
    <div class="col">
      <img class="kolos"
      srcset="
        ./img/divan2.jpg 300w,
        ./img/kolos.jpg 600w
      "
      sizes="
        (max-width: 930px) 100px,
        (min-width: 931px) 300px
      "
      />
      <img class="kolos-mobile" src=""/>
    </div>
    <div class="col second">
      <p class="content">Створюємо дизайн-проект будь-якої складності з візуалізацією</p>
    </div>
  </div>
</div>
