<div class="line"></div>
<div class="box">
  <h4 class="text-works">Наші роботи</h4>
  <div class="container our-works">
    <div class="photos-list">
      <div class="left-col">
        <a href="./img/example-1.jpeg">
          <img src='./img/example-1.jpeg' class="photo-destop" />
        </a>
      </div>
      <div class="right-col ">
        <a href="./img/example-2.jpeg">
          <img src='./img/example-2.jpeg' class="photo-destop" />
        </a>
      </div>
      <div class="full">
        <a href="./img/example-3.jpeg">
          <img src='./img/example-3.jpeg' class="photo-destop" />
        </a>
      </div>
      <div class="left-col">
        <a href="./img/example-4.jpeg">
        <img src='./img/example-4.jpeg' class="photo-destop" />
        </a>
      </div>
      <div class="right-col">
        <a href="./img/example-5.jpeg">
        <img src='./img/example-5.jpeg' class="photo-destop" />
        </a>
      </div>
      <div class="full">
        <a href="./img/example-6.jpeg">
        <img src='./img/example-6.jpeg' class="photo-destop" />
        </a>
      </div>
      <div class="left-col">
        <a href="./img/example-7.jpeg">
        <img src='./img/example-7.jpeg' class="photo-destop" />
        </a>
      </div>
      <div class="right-col">
        <a href="./img/example-8.jpeg">
        <img src='./img/example-8.jpeg' class="photo-destop" />
        </a>
      </div>
    </div>
</div>